body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: darkmagenta;
  color: white;
  font-weight: 900;
  font-size: 32px;
  padding: 16px;
}

.footer {
  background: #eee;
  color: darkmagenta;
  padding: 16px;
  text-align: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  color: white;
}

a {
  all:unset
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  flex-basis: 300px;
  height: 300px;
}

.middle {
  flex-grow: 1;
  display: flex;
}

li {
  padding: 16px;
  font-size: 24px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 48px;
  gap: 24px;
}